.modal-backdrop {
	background: #fff;
}

.right {
	color: rgb(0, 186, 0);
}

.success {
	background: rgb(73, 169, 73);
}

.wrong {
	background: rgb(255, 226, 226);
}

.right-p {
	background: rgb(206, 239, 206);
}

.qr-container {
	text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-flow: column;
}

.qr-container .open-id {
	text-align: center;
    font-size: 80px;
    background: black;
    color: white;
    width: 400px;
    margin-top: 5px;
}